<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="mynavbar" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isNavbarOpen }" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="data-binding">Data Binding</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="signal">Signal</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="life-cycle">Angular Life Cycle</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" (click)="toggleDropdownDirective()" role="button" aria-expanded="false">
            Directive
          </a>
          <div class="dropdown-menu" [ngClass]="{ 'show': isDropdownDirectiveOpen }">
            <a class="dropdown-item" routerLink="structural-dir">Structural Directive</a>
            <a class="dropdown-item" routerLink="attribute-dir">Attribute Directive</a>
            <a class="dropdown-item" routerLink="ng-template">Ng Template</a>
            <a class="dropdown-item" routerLink="ng-container">Ng Container</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="control-statement">&#64;if &#64;for, switch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="pipe">Pipe</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" (click)="toggleDropdownFroms()" role="button" aria-expanded="false">
            Froms
          </a>
          <div class="dropdown-menu" [ngClass]="{ 'show': isDropdownFromsOpen }">
            <a class="dropdown-item" routerLink="template-from">Template From</a>
            <a class="dropdown-item" routerLink="reactive-from">ReActive From</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="api-integration">API Integration</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" (click)="toggleDropdownDecorator()" role="button" aria-expanded="false">
            Decorator
          </a>
          <div class="dropdown-menu" [ngClass]="{ 'show': isDropdownDecoratorOpen }">
            <a class="dropdown-item" routerLink="view-child">View Child</a>
          </div>
        </li>
      </ul>
      <form class="d-flex align-items-center">
        <select class="form-select form-select-sm me-2 custom-dropdown" [(ngModel)] = "selectRole" name="selectRole"
         (ngModelChange)="onRoleChange($event)">
        
         <option selected disabled value="">Select Role</option>
          <option value="user">User Role</option>
          <option value="guest">Guest Role</option>
        </select>
        <span class="text-white me-2">{{ loggedUserData.username }}</span>
        <br>
        <button class="btn btn-primary btn-sm" (click)="logout()">Logout</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
