<div class="container mt-2 p-2 bg-secondary text-white rounded text-center">
  <h1>Signal</h1>
  <h5>Create Signal, Update, Display</h5>
</div>

<br>

<div class="container">
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
      <strong>{{firstName()}}</strong> - {{courseName}}
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
      {{id()}}
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
      <strong>Full Name:</strong> {{fullName()}}
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
      {{cityList()}} - {{studentObj().name}} - {{studentObj().city}}
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
      <button class="btn btn-success w-100" (click)="changeName()">Change Name</button>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
      <button class="btn btn-success w-100 mb-2" (click)="changeName()">Change First Name</button>
      <button class="btn btn-success w-100" (click)="changeLastName()">Change Last Name</button>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
      <button class="btn btn-success w-100" (click)="addCity()">Add City</button>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
      <button class="btn btn-success w-100" (click)="changeStuCity()">Change City</button>
    </div>
  </div>
</div>
