<div class="container mt-2 p-2 bg-secondary text-white rounded">
  <h1>RX JS</h1>
</div>

<br>
<div>
  <input type="text" #search placeholder="Search GitHub users" class="search-input">
</div>

<br>
<div class="card-container">
  <div *ngFor="let u of gitHubUsers" class="user-card">
    <img [src]="u.avatar_url" alt="User Avatar" class="user-avatar"/>
    <h4 (click)="goToProfile(u.login)" class="user-name">{{ u.login }}</h4>
    <button (click)="goToProfile(u.login)" class="profile-button">Go to profile</button>
  </div>
</div>
