<div class="mt-2 p-2 bg-secondary text-white rounded">
  <h4>Control Flow Statement</h4>
  <h3><span>&#64;</span>For, <span>&#64;</span>Switch Case</h3>
</div>

<div class="container">
  <!-- Day Number Input and Switch Case -->
  <div class="row mb-3">
    <div class="col-12 col-md-4 mb-2">
      <input type="text" [(ngModel)]="dayNumber" class="form-control" placeholder="Enter Day Number" />
    </div>
    <div class="col-12 col-md-8">
      Day Name is:
      <div class="mt-2">
        @switch (dayNumber) {
          @case ('1') { <span>Monday</span> }
          @case ('2') { <span>Tuesday</span> }
          @case ('3') { <span>Wednesday</span> }
          @case ('4') { <span>Thursday</span> }
          @case ('5') { <span>Friday</span> }
          @case ('6') { <span>Saturday</span> }
          @case ('7') { <span>Sunday</span> }
          @default { <span>Please enter a number between 1 and 7!</span> }
        }
      </div>
    </div>
  </div>

  <!-- City and Student List Iteration -->
  <div class="row mb-3">
    <div class="col-12 col-md-3">
      <b>City List:</b>
      <ul>
        @for (item of cityArray; track $index) {
          <li>{{ item }}</li>
        }
      </ul>
    </div>
    <div class="col-12 col-md-3">
      <b>City Names:</b>
      <div>
        @for (item of cityArray; track $index) {
          <div>{{ item }}</div>
        }
      </div>
    </div>
    <div class="col-12 col-md-3">
      <b>Select City:</b>
      <select class="form-control">
        @for (item of cityArray; track $index) {
          <option>{{ item }}</option>
        }
      </select>
    </div>
    <div class="col-12 col-md-3">
      <b>Select Student:</b>
      <select class="form-control">
        @for (item of studentList; track $index) {
          <option [value]="item.studentId">{{ item.name }}</option>
        }
      </select>
    </div>
  </div>

  <!-- Student Table -->
  <div class="row">
    <div class="col-12">
      <b><span>&#64;</span>For loop used to iterate the studentList object in a table format:</b>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Name</th>
              <th>City</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            @for (item of studentList; track $index) {
              <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.city }}</td>
                <td>
                  @if (item.isActive) {
                    <span>Active</span>
                  } @else {
                    <span>De-Active</span>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
