<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="mynavbar" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isNavbarOpen }" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="data-binding">Data Binding</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" (click)="toggleDropdown('directive')" role="button" aria-expanded="false">
            Directive
          </a>
          <div class="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen['directive'] }">
            <a class="dropdown-item" routerLink="structural-dir">Structural Directive</a>
            <a class="dropdown-item" routerLink="attribute-dir">Attribute Directive</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="control-statement">&#64;if &#64;for, switch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="pipe">Pipe</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" (click)="toggleDropdown('forms')" role="button" aria-expanded="false">
            Froms
          </a>
          <div class="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen['forms'] }">
            <a class="dropdown-item" routerLink="template-from">Template From</a>
            <a class="dropdown-item" routerLink="reactive-from">ReActive From</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="api-integration">API Integration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="life-cycle">Angular Life Cycle</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
