<div class="container mt-2 p-2 bg-secondary text-white rounded">
  <h4>Pipe In Angular</h4>
  <h3>Default Pipe & Custom Pipe</h3>
</div>

<div class="container">
  <!-- First Row: String Pipes -->
  <div class="row pt-4">
    <div class="col-12 col-md-4 mb-3">
      <b>Original Value:</b> {{ firstName }}
      <br />
      <b>After Pipe (Uppercase):</b> {{ firstName | uppercase }}
    </div>
    <div class="col-12 col-md-4 mb-3">
      <b>Original Value:</b> {{ firstName }}
      <br />
      <b>After Pipe (Lowercase):</b> {{ firstName | lowercase }}
    </div>
    <div class="col-12 col-md-4 mb-3">
      <b>Original Value:</b> {{ firstName }}
      <br />
      <b>After Pipe (Titlecase):</b> {{ firstName | titlecase }}
    </div>
  </div>

  <!-- Second Row: Date Pipes -->
  <div class="row pt-4">
    <div class="col-12 col-md-4 mb-3">
      <b>Original Date:</b> {{ currentDate }}
      <br />
      <b>After Pipe (Default):</b> {{ currentDate | date }}
    </div>
    <div class="col-12 col-md-4 mb-3">
      <b>Original Date:</b> {{ currentDate | date:'dd-MM-yyyy' }}
      <br />
      <b>After Pipe (Custom 1):</b> {{ currentDate | date:'dd-MM-yy' }}
    </div>
    <div class="col-12 col-md-4 mb-3">
      <b>Original Date:</b> {{ currentDate | date:'dd-MMM-yy' }}
      <br />
      <b>After Pipe (Custom 2):</b> {{ currentDate | date:'dd/MMM/yy' }}
    </div>
  </div>

  <!-- Third Row: JSON, Async, and Custom Pipes -->
  <div class="row pt-4">
    <div class="col-12 col-md-4 mb-3">
      <b>Original Value:</b> {{ student }}
      <br />
      <b>After Pipe (JSON):</b> {{ student | json }}
    </div>
    <div class="col-12 col-md-4 mb-3">
      <b>Original Time:</b> {{ currentTime }}
      <br />
      <b>After Pipe (Async):</b> {{ currentTime | async | date:'hh:mm:ss' }}
    </div>
    <div class="col-12 col-md-4 mb-3">
      <b>Original Value:</b> {{ student.state }}
      <br />
      <b>After Pipe (Custom - na):</b> {{ student.state | na }}
    </div>
  </div>
</div>
