<div class="mt-2 p-2 bg-secondary text-white rounded">
  <h4>ReActive Form</h4>
  <h3>Create From & Validation</h3>
</div>

<div class="row">
  <div class="col-8"></div>
  <form class="row g-3" [formGroup]="studentFrom">
    <div class="col-md-4">
      <label class="form-label">First name</label>
      <input type="text" formControlName="firstName" class="form-control">
      <div class="text-danger">
        @if(studentFrom.controls['firstName'].touched && studentFrom.controls['firstName'].errors?.['required']) {
          <span>First name is required</span>
        }@else if (studentFrom.controls['firstName'].touched && studentFrom.controls['firstName'].errors?.['minlength']) {
          <span>Min 3 character required</span>
        }
      </div>
    </div>

    <div class="col-md-4">
      <label class="form-label">Last name</label>
      <input type="text" formControlName="lastName" class="form-control"/>
    </div>

    <div class="col-md-4">
      <label class="form-label">Email</label>
      <div class="input-group">
        <span class="input-group-text">&#64;</span>
        <input type="text" formControlName="email" class="form-control"/>
        <div class="text-danger">
          @if(studentFrom.controls['email'].touched && studentFrom.controls['email'].errors?.['email']) {
            <span>Email not proper</span>
          }
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label">City</label>
      <input type="text" formControlName="city" class="form-control"/>
    </div>

    <div class="col-md-3">
      <label class="form-label">State</label>
      <select formControlName="state" class="form-select">
        <option selected disabled value="">Choose...</option>
        <option>Gujarat</option>
        <option>Uttar Pradesh</option>
        <option>Bihar</option>
        <option>Rajasthan</option>
        <option>Goa</option>
      </select>
    </div>

    <div class="col-md-3">
      <label class="form-label">Pincode</label>
      <input type="text" formControlName="pinCode" class="form-control" />
    </div>

    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" formControlName="isAcceptTerms" type="checkbox"
          required />
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
      </div>
    </div>

    <div class="col-12">
      <button class="btn btn-secondary" type="button" (click)="resetFrom()">Reset form</button>
      <button class="btn btn-primary mx-2" type="button" [disabled]="studentFrom.invalid" (click)="onSave()">
        Submit
      </button>
    </div>
  </form>
</div>